.intro {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    margin: 30px auto 0;
    padding: 1px 30px 30px 30px;

    &-center {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 1200px;

        &-desc {
            max-width: 600px;
            padding: 20px;

            h1 p {
                text-align: center;

            }

            p {
                margin-bottom: 30px;
            }

            ul>li {
                list-style-type: none;
            }
        }

        &-video {

            height: 604px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            gap: 10px;


            .intro-help-block {
                position: absolute;
                bottom: -10px;
                right: -10px;
                z-index: -1;
                height: 604px;
                width: 534px;
                border-radius: 24px;
                background-color: #52527a;
                box-shadow: 16px 18px 8px 12px rgb(0 0 0 / 30%);
            }

            &-test {
                width: 300px;
                height: 150px;
            }

            iframe {
                border-radius: 24px;

                width: 534px;
                height: 300px;
                z-index: 1000;
            }
        }
    }
}

@media (max-width: 920px) {
    .intro {
        flex-direction: column;
    }

}

.custom-shape-divider-top-1671100056 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    top: -30px;

    &>svg>path {
        fill: #52527a;
    }
}

.custom-shape-divider-top-1671100057 {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    top: -30px;

    &>svg>path {
        fill: #52527a;
    }
}