.vt1{
    border-radius: 15px;
    text-align: center;
position: relative;


&__content{
    width: 90vw;
    position: absolute;
    z-index: 10;
    background-color: #52527a;
    width: 1200;

    &>h1{
        top:0;
    }
    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
    }
}
&__modal {
    overflow-y: auto;

    display: flex;
height: 70vh;
    flex-direction: column;
    row-gap: 5px;
}
}