.Navbar {
    height: 50px;
    background-color: #52527a;
    color: #fff;
    padding: 10px;
    align-items: center;
    &-content {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        max-width: 1200px;
        a {
            color: black;
        }
    }

}