.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("/img/mainImg.png") no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0,0,0,.5);

}

.content {
    flex: 1 1 auto;
}