.content{
        width: 1200px;
        position: absolute;
        z-index: 10;
        background-color: #52527a;
        transform: translate(-50%, 50%);
        left: 50%;
        width: 1200;
        border-radius: 15px;
        color:#fff;

        &>h1 {
            top: 0;
        }
}