.tatorey {
    border-radius: 15px;
    text-align: center;
    position: relative;

    &__modal {
        display: flex;

        flex-direction: column;
        row-gap: 5px;
        p{
            text-align: justify;
        }
    }
}